html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    
    display: grid;
    grid-template-areas: "header header"
        "section aside"
        "footer footer";
    grid-template-columns: 4fr 1fr;
}

.header {
    background-color: #283040;
    grid-area: header;
    position: sticky;
    width: 100%;
    top: 0;
    bottom: auto;
}

.header__title {
    font-family: sans-serif;
    color: #C7CFD9;
}

.header__nav {}

.header__nav--button {
    display: inline-block;
    width: 200px;
    background-color: #C7CFD9;
}

.header__nav--link {
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #283040;
}

.hamburger {
    display: none;
}

.mainSection {
    background-color: #F2CBBD;
    grid-area: section;
    display: flex;
    flex-direction: row;
}

.mainSection__article {
    background-color: #8C5B3F;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
}

.mainSection__article--title {
    font-family: sans-serif;
}

.mainSection__article--text {
    font-family: sans-serif;
    color: #591902;
}

.mainAside {
    background-color: #F2CBBD;
    grid-area: aside;
}

.mainAside__article {
    background-color: #C7CFD9;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
}

.mainAside__article--title {
    font-family: sans-serif;
}

.mainAside__article--form {
    font-family: sans-serif;
    font-size: 12px;
    color: #283040;
}

.footer {
    background-color: #283040;
    color: #C7CFD9;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.footerSection {
    width: 25vw;
}

.footerSection__article {
    background-color: #283040;

}

.footerSection__article--title {
    font-family: sans-serif;
}

.footerSection__article--text {
    font-family: sans-serif;
    font-size: 10px;
}

.footerAside {
    width: 15vw;
}

.footerAside__article {
    background-color: #283040;
}

.footerAside__article--title {
    font-family: sans-serif;
}

.footerAside__article--text {
    font-family: sans-serif;
    font-size: 10px;
}

@media screen and (max-width: 425px) {
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        
     display: inline-block;
        
    }
    
    .header {
        background-color: #283040;
       /* grid-area: header; */
        position: sticky;
        width: 100%;
        top: 0;
        bottom: auto;
    }
    
    .header__title {
        font-family: sans-serif;
        color: #C7CFD9;
    }
    
    .header__nav {
        display: none;
    }

    .navigation--open {
        display: block;
    }
    
    .header__nav--button {
        display: inline-block;
        width: 200px;
        background-color: #C7CFD9;
    }
    
    .header__nav--link {
        font-family: sans-serif;
        text-decoration: none;
        display: inline-block;
        color: #283040;
    }

    .hamburger {
        display: block;
    }
    
    .mainSection {
        background-color: #F2CBBD;
       /* grid-area: section; */
        display: flex;
        flex-direction: column;
    }
    
    .mainSection__article {
        background-color: #8C5B3F;
        border-radius: 8px;
        margin: 15px;
        padding: 15px;
    }
    
    .mainSection__article--title {
        font-family: sans-serif;
    }
    
    .mainSection__article--text {
        font-family: sans-serif;
        color: #591902;
    }
    
  /*  .mainAside {
        background-color: #F2CBBD;
        display: flex;
        flex-direction: column;
        grid-area: aside; } */
 
    
    .mainAside__article {
        background-color: #C7CFD9;
        border-radius: 8px;
        margin: 15px;
        padding: 15px;
    }
    
    .mainAside__article--title {
        font-family: sans-serif;
    }
    
    .mainAside__article--form {
        font-family: sans-serif;
        font-size: 12px;
        color: #283040;
    }
    
    .footer {
        background-color: #283040;
        color: #C7CFD9;
        grid-area: footer;
        display: flex;
        flex-direction: column;
        bottom: 0;
    }
    
    .footerSection {
        width: 25vw;
    }
    
    .footerSection__article {
        background-color: #283040;
    
    }
    
    .footerSection__article--title {
        font-family: sans-serif;
    }
    
    .footerSection__article--text {
        font-family: sans-serif;
        font-size: 10px;
    }
    
    .footerAside {
        width: 15vw;
    }
    
    .footerAside__article {
        background-color: #283040;
    }
    
    .footerAside__article--title {
        font-family: sans-serif;
    }
    
    .footerAside__article--text {
        font-family: sans-serif;
        font-size: 10px;
    } 

}